macro_bn: macro_bn{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
wait-ms = <30>;
tap-ms = <40>;
bindings = <&kp COLON>, <&kp B>, <&kp N>, <&kp ENTER>;
};
macro_bp: macro_bp{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
wait-ms = <30>;
tap-ms = <40>;
bindings = <&kp COLON>, <&kp B>, <&kp P>, <&kp ENTER>;
};
new_term: new_term{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
wait-ms = <30>;
tap-ms = <40>;
bindings = <&kp LALT>, <&kp ENTER>;
};
